.banner {
  background: #252F3D;
  padding-left: 10px;
  height: 56.83px;
  display: flex;
  align-items: center;
}

.banner img {
  margin-left: 15px;
  height: 15px;
}

.paper {
  padding: 5%;
}

.container-buttons {
  padding-top: 20px;
  padding-bottom: 80px;
}

.css-parlph {
  margin-top: 20px !important;
}

@media screen and (min-width: 600px) {
  .banner img {
    margin-left: 120px;
    height: 32px;
  }
}

@media screen and (max-width: 599px) {
  .css-parlph {
    margin-top: 72px !important;
  }
  .container-buttons {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

form {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}